<% include ./src/includes/head %>

<body style="overflow: hidden;">
    <% include ./src/includes/cover %>


    <% include ./src/includes/top--subsite %>


    <div class="o-container">

        <div class="c-article">
            <div class="o-section o-section--dots">
                <div class="o-wrap">

                    <div class="o-cols">
                        <div class="o-cols__item o-cols__item--wide">
                            <h1 class="o-header o-header--second">referencje</h1>
                        </div>
                        
                        <div class="o-cols__item"></div>
                    </div>
                    
                    
                    <ul class="c-gallery">
                        <li class="c-gallery__item">
                            <div class="o-frame o-frame--small">
                                <a href=<%= require("./img/photos/gallery-big.jpg") %> class="c-gallery__link js-image">
                                    <img src=<%= require("./img/photos/gallery.jpg") %> alt="" width="352" height="213">
                                </a>
                            </div>
                        </li>
                        
                        <li class="c-gallery__item">
                            <div class="o-frame o-frame--small">
                                <a href=<%= require("./img/photos/gallery-big.jpg") %> class="c-gallery__link js-image">
                                    <img src=<%= require("./img/photos/gallery.jpg") %> alt="" width="352" height="213">
                                </a>
                            </div>
                        </li>
                        
                        <li class="c-gallery__item">
                            <div class="o-frame o-frame--small">
                                <a href=<%= require("./img/photos/gallery-big.jpg") %> class="c-gallery__link js-image">
                                    <img src=<%= require("./img/photos/gallery.jpg") %> alt="" width="352" height="213">
                                </a>
                            </div>
                        </li>
                        
                        <li class="c-gallery__item">
                            <div class="o-frame o-frame--small">
                                <a href=<%= require("./img/photos/gallery-big.jpg") %> class="c-gallery__link js-image">
                                    <img src=<%= require("./img/photos/gallery.jpg") %> alt="" width="352" height="213">
                                </a>
                            </div>
                        </li>
                        
                        <li class="c-gallery__item">
                            <div class="o-frame o-frame--small">
                                <a href=<%= require("./img/photos/gallery-big.jpg") %> class="c-gallery__link js-image">
                                    <img src=<%= require("./img/photos/gallery.jpg") %> alt="" width="352" height="213">
                                </a>
                            </div>
                        </li>
                        
                        <li class="c-gallery__item">
                            <div class="o-frame o-frame--small">
                                <a href=<%= require("./img/photos/gallery-big.jpg") %> class="c-gallery__link js-image">
                                    <img src=<%= require("./img/photos/gallery.jpg") %> alt="" width="352" height="213">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
        <% include ./src/includes/footer--subsite %>
    </div>
        
</body>
</html>